test1.rt
test2.rt
test3.rt
*.a
test.rt
launch_miniRT.sh
*.o
*.d
*.txt
miniRT
miniRT_bonus
.obj/
.gitmodules
.gdb_history
compile_commands.json
.cache
.gdbinit
.txt
src/minilibx
src/minilibx-linux
test_ray_tracing_one_weekend/
